# CORE WEB & UTILS
flask
python-dotenv
markdown
werkzeug

# LANGCHAIN & AI
langchain
langchain-community
langchain-core
langchain-groq
langchain-astradb
langchain-huggingface

# DATA & DB
astrapy
pydantic
pydantic-settings
sentence-transformers
transformers
torch
pandas
numpy
datasets
prometheus-client
pypdf